USER REQUIREMENTS

-- As a user, I should be able to modify the introduction which includes at least the following
-- an image
-- a short description

-- As a user, I should be able to create a new post which includes at least the following
-- a title of the post
-- a short description of the post
-- an image of the post
-- you should also generate a unique ID for each post and display the ID for each post

-- As a user, I should be able to delete a post

-- As a user, I should be able to modify any information of an existing post

When attempting to modify information for introduction/ any existing post, the current values should be displayed in the input boxes

-- When attempting to modify the information, there should be a CANCEL button

-- For the post IDs, you don't have to worry about reordering them when some posts are deleted, as long as the post IDs are unique.

Note: none of the state is persistent. There is no database or API. If we refresh the page, there is nothing which persists.