.IntroContainer {
	position: relative;
	height: 40vh;
	width: 70vw;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Intro {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro-image {
	height: 20vh;
	margin: 1vh 0 1vh 0;
	width: auto;
	border-radius: 50%;
}

.IntroEditor {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.IntroEditor > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: max(2vh, 10px) 0 max(2vh, 10px) 0;
}

.IntroEditor label {
	width: 25%;
	padding: 0 0 0 max(2vh, 10px) ;
}

.IntroEditor input {
	width: 100%;
	margin: 0 max(2vh, 10px) 0 0;
}